:root {
    --orange: #ffe5d0; /* $orange-200 value */
    --black: #000;
  }
  
  .text-bg-warning {
    background-color: var(--orange) !important;
    color: var(--black) !important;
   
  }

  .border-bottom {
    border-color: var(--black) !important;
  }