:root {
    --orange: #361901; 
    --black: #8b1a1a;
  }
  
  .text-bg-warning {
    background-color: var(--orange) !important;
    color: var(--black) !important;
   
  }

  .border-bottom {
    border-color: var(--black) !important;
  }
  .carousel-item img {
    width: 600px;
    height: 430px;
    object-fit: cover; 
}
.card {
   
    margin-left: 0 10px; 
    text-shadow: 1px 1px;
    border: solid;
    background-color: #ecf0df;
}

  div {
    padding-top: 5;
  }
  .rosso{
    text-shadow: 1px 1px 2px rgb(79, 57, 57), 0 0 25px rgb(167, 179, 40), 0 0 5px hsl(0, 0%, 0%);;

    border-color: #87654a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(246, 241, 241);
    font-size: 30px;
  }
  .lobsteregular{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-style: normal;
    color: #efcece;
    margin: 200px 200px 200px 200px;
}
.button {
    border: none;
    color: rgb(156, 115, 115);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {
    background-color: rgb(127, 91, 91); 
    color: rgb(35, 8, 8); 
    border: 2px solid #0c1814;
    position: right;
  }
  
  .button1:hover {
    background-color: #0f1714;
    color: white;
    position: right;
  }
  #btn{
    max-width: 100px;
    border-color: #a5ac4c;
    background-color: #5fb5a1;
}
